main {
  height: 850px;
  width: 1903px;
  section {
    padding-top: 30px;
    margin-right: 484px;
    margin-left: 484px;
    width: 935px;
    .post-story {
      flex: 614px;
      height: 820px;
      margin-left: 0;
    }
    aside {
      flex: 293px;
      height: 542px;
      @media (max-width: 999px) {
        display: none;
      }
    }
  }
}
